@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin:0;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #414863;
    
}



.container {
    
    max-width: 1350px;
    
    
    margin: auto;

    #chart {
        display: block;
        position: absolute;
        width: 100%;
        
   
        
    }
   
    
        
        
}
